APP_NAME=Fire Detection - Image Analysis Service
APP_VERSION=0.1.0

HOST=0.0.0.0
PORT=8001

MODEL_ID=fire-detection-mobilenetv2
MODEL_VERSION=1.0.0

MODEL_PATH=/app/models/fire_detection_model.keras

DATA_PATH=/app/data

IMAGE_WIDTH=224
IMAGE_HEIGHT=224

FIRE_THRESHOLD=0.5

EXPECTED_IMAGES_PER_BATCH=5

STORAGE_PATH=/app/storage